<div class="banner">
  <div class="container text-center">
    <h1 class="fw-light fs-1">Save any kind of movies</h1>
  </div>
</div>
<div class="row justify-content-center bg-body my-5">
  <div class="col-6 d-flex justify-content-between">
    <h1 class="fs-4 fw-bold">My lists</h1>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-outline-secondary rounded-pill" %>
  </div>
</div>
<div class="row justify-content-center bg-body mt-5">
  <div class="col-6 d-flex justify-content-between">

    <div class="row row-cols-1 row-cols-md-3 g-3">
      <% @lists.each do |list| %>
        <div class="col">
          <%= link_to list_path(list), class: "text-decoration-none" do %>
            <div class="card shadow-sm">
              <% if !list.photo.attached? %>
                <img src="https://images.unsplash.com/photo-1478720568477-152d9b164e26?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="default photo">
              <% else %>
                <%= cl_image_tag(list.photo.key, {cloud_name: "did0eciid", class: "card-img-top"}) %>
              <% end %>
              <div class="card-body">
                <p class="card-text"><%= list.name %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
